{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "mocha": true,
    "node": true,
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "globals": {
    "hj": true, // hotjar
    "newrelic": true,
    "expect": true,
    "initPhotoSwipeFromDOM": true,
    "feather": true
  },
  "rules": {
    "no-case-declarations": "warn",
    "require-jsdoc": "off",
    "no-console": "off",
    "max-len": "off",
    "new-cap": "off",
    "quote-props": ["error", "as-needed"],
    "jsx-quotes": ["error", "prefer-double"],
    "object-curly-spacing": ["error", "always"],
    "arrow-parens": ["error", "as-needed"],
    "prettier/prettier": ["error", {
      "trailingComma": "es5",
      "singleQuote": true,
      "printWidth": 120
    }],
    "keyword-spacing": ["error", {
      "before": true,
      "after": true
    }],
    "no-multiple-empty-lines": ["error", {
      "max": 1,
      "maxBOF": 1,
      "maxEOF": 1
    }],
    //"comma-dangle": ["error", "never"],
    "semi": ["error", "always"],
    "eol-last": "error"
  }
}
